<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DemoBank</title>
    <link rel="stylesheet" href="/css/applications.css">
    <script src="/js/applications.js" defer></script>
</head>
<body>
<div class="main-container">
    <header class="main-header">
        <!-- Обновлено: логотип стал ссылкой -->
        <a href="/credit" class="logo">Demo<span>Bank</span></a>
        <nav class="main-nav">
            <a href="/applications" class="nav-link">Заявки</a>
            <a href="/profile" class="nav-link">Профиль</a>
        </nav>
    </header>

    <main class="hero-section">

        <section class="applications-section">
            <h2 class="applications-title">Мои заявки</h2>
            <div id="applications-container" class="applications-container"></div>
        </section>
    </main>


</div>
</body>
</html>